header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
li{
    font-size:20px;
    padding: 10px;
    list-style-type:none; 
}
a{
    text-decoration: none;
    color:aliceblue
}