/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/solid.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/brands.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/regular.min.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap-grid.min.css');

:root{
    --primary:#1683bb;
    --secondary:black;
    --white:#fff;
}